/* 
For body background: linear-gradient(#872525, #243b55)
For Login box background: rgb(144, 7, 72, .5)
For Login box shadow: 0 15px 25px rgba(16, 5, 10, 0.6)
For button color/hover background: #f403af
For button box shadow: 0 0 5px #f403af,
        0 0 25px #f403af,
        0 0 50px #f403af,
        0 0 100px #f403af;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: rgb(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(16, 5, 10, 0.6);
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}


.loginBox h2{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.userInputBox{
    background-color: none;
    position: relative;
    margin-bottom: 0px;
}

.userInputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.userInputBox input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    margin-bottom: 30px;
    font-size: 16px;
}

.userInputBox input:focus ~ label,
.userInputBox input:valid ~ label{
    top: -12px;
    font-size: 12px;
    color: #6d6d69;
}

.loginBox a{
    position: relative;
    color: #ccc9c9;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: .5s;
}

.loginBox a:hover{
    color: #fff;
    background: #f403af;
    box-shadow:  0 0 5px #f403af,
                0 0 25px #f403af,
                0 0 50px #f403af,
                0 0 100px #f403af;
}

.loginBox a span{
    position: absolute;
    font-weight: 500;
    color: #e1c7e1;
}

.loginBox a span:nth-child(1){
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, transparent, #e1c7e1);
    animation: toplineAnimation 1s linear infinite;
}

@keyframes toplineAnimation{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.loginBox a span:nth-child(2){
    top: -100%;
    right:0 ;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, #e1c7e1);
    animation: rightlineAnimation 1s linear infinite;
    animation-delay: .25s;
}

@keyframes rightlineAnimation{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.loginBox a span:nth-child(3){
    right: -100%;
    bottom:0 ;
    height: 2px;
    width: 100%;
    background: linear-gradient(270deg, transparent, #e1c7e1);
    animation: bottomlineAnimation 1s linear infinite;
    animation-delay: .5s;
}

@keyframes bottomlineAnimation{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.loginBox a span:nth-child(4){
    bottom: -100%;
    left:0 ;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg, transparent, #f403af);
    animation: leftlineAnimation 1s linear infinite;
    animation-delay: .75s;
}

@keyframes leftlineAnimation{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}